In [6]:
! pip install mysql-connector-python

Defaulting to user installation because normal site-packages is not writeable
Looking in links: /usr/share/pip-wheels
Collecting mysql-connector-python
  Obtaining dependency information for mysql-connector-python from https://files.pythonhosted.org/packages/c9/6a/df8325eb997944357f5f24e55900f24c4f82ab980ac7f0b013ef87c996e7/mysql_connector_python-8.2.0-cp311-cp311-manylinux_2_17_x86_64.whl.metadata
  Downloading mysql_connector_python-8.2.0-cp311-cp311-manylinux_2_17_x86_64.whl.metadata (2.1 kB)
Collecting protobuf<=4.21.12,>=4.21.1 (from mysql-connector-python)
  Downloading protobuf-4.21.12-cp37-abi3-manylinux2014_x86_64.whl (409 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 409.8/409.8 kB 8.0 MB/s eta 0:00:000:00:01
Downloading mysql_connector_python-8.2.0-cp311-cp311-manylinux_2_17_x86_64.whl (31.6 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 31.6/31.6 MB 16.9 MB/s eta 0:00:00 0:00:01[36m0:00:01
Installing collected packages: protobuf, mysql-connector-python
Successfully installed mysql-connector-python-8.2.0 protobuf-4.21.12

In [14]:
import os
import pandas as pd

In [16]:
df = pd.read_sql_query

SELECT *
FROM `covid19-395522.covid19_data.CovidDeaths`
WHERE continent is not null
ORDER BY 2,3

-- Select data that we are going to be using

SELECT location, date, total_cases, new_cases, total_deaths, population
FROM `covid19-395522.covid19_data.CovidDeaths`
Order BY 1,2

-- Looking at total cases vs Tota Deaths

SELECT location, MAX(total_cases) as HighestInfectionCount,MAX(total_cases/population)*100 as PercentagePopulationInfected
FROM `covid19-395522.covid19_data.CovidDeaths`
GROUP BY location, population
Order BY PercentagePopulationInfected DESC

-- Showing Countries with highest Death Count per Population

SELECT location,MAX(cast(total_deaths as int)) as TotalDeathCount
FROM `covid19-395522.covid19_data.CovidDeaths`
WHERE continent is not null
GROUP BY location
Order BY TotalDeathCount DESC

-- Let's break things down by continent

SELECT continent,MAX(cast(total_deaths as int)) as TotalDeathCount
FROM `covid19-395522.covid19_data.CovidDeaths`
WHERE continent is not null
GROUP BY continent
Order BY TotalDeathCount DESC

-- GLOBAL NUMBERS


SELECT SUM(new_cases) as total_cases, SUM(cast(new_deaths as int)) as total_deaths,SUM(cast(new_deaths as int))/SUM(new_cases)*100 as DeathPercentage
FROM `covid19-395522.covid19_data.CovidDeaths`
WHERE continent is not null
--GROUP BY date
Order BY 1,2

-- testing my own subquery

/* SELECT total_cases,total_deaths, (total_deaths/total_cases)*100 as DeathPercentage;
  SELECT SUM(new_cases) as total_cases, SUM(cast(new_deaths as int)) as total_deaths
FROM `covid19-395522.covid19_data.CovidDeaths`
WHERE continent is not null
--GROUP BY date
Order BY 1,2 */

SELECT dea.continent, dea.location,dea.population,vac.new_vaccinations
FROM `covid19-395522.covid19_data.CovidDeaths` dea
JOIN `covid19-395522.covid19_data.CovidVaccinations` vac
  ON dea.location = vac.location
  and dea.date = vac.date
WHERE dea.continent is not null

SyntaxError: invalid decimal literal (430390390.py, line 4)